* {
  font-family： 'Gorditas'、筆記体;
}

/* ヘッダー部分 */
.home_top {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
}

img {
  width: 150px;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list_1 {
  padding-right: 15px;
  list-style: none;
  padding: 10px;
}

a {
  color: #808080;
  text-decoration: none;
}
/* FV部分 */
.main_message {
  margin-left: 20%;
  margin-top: -30%;
  margin-bottom: 10%;
}
h1 {
  font-size: 60px;
  margin-bottom: 70px;
  line-height: 90px;
  color: #c82c55;
  font-family: noteworthy;
}
div span {
  color: #409ecc;
}
.word {
  color: #c82c55;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
}
.word_en {
  font-family: Ludica Sans Unicode;
  color: #808080;
  line-height: 20px;
}
.fv-img {
  width: 100%;
  margin-right: 0%;
  margin-left: 42%;
}

.fv_img_con {
  width: 60%;
}
/* 新着情報部分 */
.news_title {
  margin-left: 26%;
}
.news_title_en {
  margin-bottom: 10px;
  font-family: cursive;
  color: #c82c55;
  font-size: 7px;
}
.news_title_ja {
  font-size: 20px;
  color: #7d7b83;
}

.news_con {
  margin-left: 26%;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-right: 26%;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 10px 0px;
}
.news_ul {
  list-style: none;
}
.news_list {
  margin: 15px auto;
  padding-top: 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cbd0d3;
  font-size: 15px;
  color: #7d7b83;
}
.news_bot {
  margin: auto 15px;
  background-color: #c82c55;
  color: #fff;
  padding: 3px 10px;
  font-size: 15px;
  border-radius: 30px;
}

/* About部分 */
.about {
  height: 350px;
  padding: 40px;
  background-color: #f4f4f4;
}
.about_title {
  text-align: center;
  margin-bottom: 40px;
}
.about_title_1 {
  margin-bottom: 10px;
  font-family: cursive;
  color: #c82c55;
  font-size: 7px;
}
.about_title_2 {
  font-size: 25px;
  color: #808080;
}
.about_con {
  display: flex;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}
.about_con_text_1 {
  color: #7d7b83;
  margin-bottom: 30px;
  line-height: 25px;
}
.about_img {

}
.about_img1 {
  width:350px;
}

/* サービス部分 */
.serv_title {
  margin-top: 80px;
  text-align: left;
  width: 58%;
  margin: 3% 21%;
}
.serv_title_en {
  margin-bottom: 10px;
  font-family: cursive;
  color: #c82c55;
  font-size: 7px;
}
.serv_title_ja {
  font-size: 20px;
  color: #7d7b83;
}
.serv_con {
  padding-left: 21%;
  padding-right: 21%;
  width: 58%;
  display: flex;
}
.serv_con_left {
  text-align: center;
  padding-top: 30px;
  background-color: #c70067;
}
.serv_con_1_t {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}
.serv_con_1_c {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
.serv_con_right_1 {
  display: flex;
  padding-top: 30px;
  background-color: #da81b2;
  width: 422px;
}

.serv_con_right_2 {
  display: flex;
  padding-top: 30px;
  background-color: #e6afcf;
}
.serv_img2 {
  padding-bottom: 30px;
}
.serv_con_right_1_1t {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 15px;
}
.serv_con_roght_1_1c {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #fff;
  text-align: left;
}

/* ブログ部分 */
.blog {
  height: 500px;
  background-color: #f4f4f4;
  margin-top: 70px;
}
.blog_title {
  text-align: left;
  width: 60%;
  margin-left: 21%;
  padding-top: 3%;
}
.blog_title_en {
  margin-bottom: 10px;
  font-family: cursive;
  color: #c82c55;
  font-size: 7px;
}
.blog_title_ja {
  font-size: 20px;
  color: #7d7b83;
}
.blog_contents_all {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-top: 3%;
}
.card1 {
  width: 60%;
  margin-left: 1%;
  margin-right: 2%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}
.card2 {
  width: 60%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}
.card3 {
  width: 60%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
}
.Blog_tag {
  background-color: #c70067;
  width: 20%;
  text-align: center;
  color: #fff;
  padding: 3px 6px;
  border-top-left-radius: 15%;
  position: absolute;
  top: 0px;
}
.card_image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card_content {
  padding: 15px 25px;
}
.card_title {
  margin-bottom: 20px;
  font-size: 15px;
}
.card_tag {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  text-align: right;
}
.card_tag_item {
  display: inline-block;
  margin-left: 20px;
}
.card_tag_last {
  display: inline-block;
}

.blog_button_con {
  width: 12%;
  height: 40px;
  color: #c70067;
  display: block;
  text-align: center;
  padding-bottom: 0px;
  background-color: #fff;
  margin: 30px auto;
  line-height: 40px;
  border-radius: 30px;
  border: 1px solid #c70067;
}

/* 会社概要部分 */
.company_title {
  margin: 10% auto 3% 26%;
}
.company {
  width: 48%;
  margin: 2% auto 3% 26%;
  border: 1px solid silver;
}
table, td, th {
  border: 1px solid silver;
}
th {
  background-color: #f4f4f4;
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding-left: 10px;
  color: #7d7b83;
}
td {
  height: 40px;
  text-align: left;
  line-height: 40px;
  padding-left: 10px;
  color: #898989  ;
}

/* 採用情報＆社員インタビュー */
.recint {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.recruit{
  width: 100%;
}
.interview {
  width: 100%;
}
.rec_img {
  width: 100%;
}
.int_img {
  width: 100%;
}
.rec_title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: -25%;
}
.rec_link {
  color: #fff;
}
.int_title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: -25%;
}
.int_link {
  color: #fff;
}

/* お問合せ部分 */
.inquiry {
  margin-top: 15%;
  width: 100%;
  text-align: center;
  position: relative;
}
.inq_text {
  margin-bottom: 3%;
  font-size: 20px;
  color: #808080;
}
.inq_sen {
  margin-top: 3%;
  margin-left: 50%;
  width: 1px;
  height: 40px;
  background-color: #c70067;
  margin-bottom: 10px;
}
.inq_button {
  width: 18%;
  height: 70px;
  color: #fff;
  display: block;
  text-align: center;
  padding-bottom: 0px;
  background-color: #c70067;
  margin: 30px auto;
  line-height: 70px;
  border-radius: 50px;
  border: 1px solid #c70067;
  box-shadow: 5px 5px 3px #000;
}
.inq_img {
  width: 30px;
  position: absolute;
  left: 43%;
  top: 75%;
}
/* フッター部分 */
.footer {
  text-align: center;
  background-color: #f7f6f5;
  height: 50px;
  line-height: 50px;
}
.copyright {
  font-size: 12px;
  color: #808080;
}